footer{
	width: 520px;
	max-width: 520px; /* 增加最大宽度 */
	height: 700px;
	max-height: 700px;
	background: white; /* 内容背景颜色 */
	padding: 40px; /* 增加内边距 */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 添加阴影使内容更突出 */
	border-radius: 8px; /* 圆角 */
	margin-left: 50px;
	text-align:left;

}

footer svg{
	transform:scale(1.3);
	width:450px;
	margin-top:140px;
	padding-left:30px;
}