body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure full viewport height */
}

.container {
    max-width: 1050px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-left: 20px;
   text-align:center; 
}

#cat {
    margin-left:30px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    padding-left: 220px;
    padding-right: 200px;
}

li {
    margin-bottom: 10px;
}

#login {
    display: block;
    width:60px;
    padding: 10px;
    background-color: #7fa3b1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#register {
    display: block;
    width:60px;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

#login:hover {
    background-color: #66a1b6;
}

#register:hover {
    background-color: #45a049;
}